controle.html

<div class="btn-group">
  <button type="button" data-placement="bottom" rel="popover" href="#" title="Le graphe sans attributs" value="general" class="btn btn-default filter">General</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="La complexité cyclomatique est une métrique qui a été inventée par Thomas J. McCabe. On s’en sert pour calculer le nombre de cycles dans le code. Idéalement il est préférable d’avoir le moins possible de complexité cyclomatique." value="cyclomatic" class="btn btn-default filter">Compl. cyclomatique</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="(multiplication, division, égalité)" value="operators"class="btn btn-default filter">Nb Opérateur(s)</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="(variables, constante, fonction)" value="operands"class="btn btn-default filter">Nb Opérande(s)</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="Fonctions contenu dans le fichier" value="functions"class="btn btn-default filter">Nb Fonction(s)</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="Il s’agit de la somme du nombre total des opérateurs et des opérandes. Plus un algorithme est long, plus il est complexe." value="longueur"class="btn btn-default filter">Longueur</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="Le vocabulaire est la somme distincte des opérateurs et des opérandes. Plus le vocabulaire est important, plus l’algorithme est complexe." value="vocabulaire"class="btn btn-default filter">Vocabulaire</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="Le volume d’un algorithme représente la dimension en termes de bits de celui-ci. Il est préférable d’avoir un volume faible. " value="volume"class="btn btn-default filter">Volume</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="Difficulté à comprendre et maintenir le programme." value="difficulte"class="btn btn-default filter">Difficulté</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="L’effort est la quantité d’activité mentale nécessaire pour convertir un algorithme préconçu en une implémentation fonctionnelle. Il est préférable d’avoir un effort faible pour garder une complexité basse." value="effort" class="btn btn-default filter">Efforts</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="Il s’agit d’une estimation du nombre de bogues dans le programme." value="bogues"class="btn btn-default filter">Bogues</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="Temps nécessaire en secondes pour convertir un algorithme préconçu en une implémentation fonctionnelle. " value="temps"class="btn btn-default filter">Temps</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="L’index de maintenabilité est calculé à partir de trois autres métriques, la moyenne de l’effort de programmation de halstead, de la complexité cyclomatique ainsi que du nombre de lignes. Plus l’index est élevé, plus le fichier devrait être difficile à maintenir." value="maintenabilite" class="btn btn-default filter">Maintenabilité</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="Erreurs trouvé par les analyseurs Lint" value="lint"class="btn btn-default filter">Erreur(s) Lint</button>

</div>

blabla

<div class="leaflet-control-container">
  <div class="leaflet-top leaflet-left has-leaflet-pan-control">
    <div class="leaflet-control-pan leaflet-control">
      <div class="leaflet-control-pan-up-wrap">
        <a id="panUp" class="leaflet-control-pan-up" href="#" title="Up"></a>
      </div>
      <div class="leaflet-control-pan-left-wrap">
        <a id="panLeft" class="leaflet-control-pan-left" href="#" title="Left"></a>
      </div>
      <div class="leaflet-control-pan-right-wrap">
        <a id="panRight" class="leaflet-control-pan-right" href="#" title="Right"></a>
      </div>
      <div class="leaflet-control-pan-down-wrap">
        <a id="panDown" class="leaflet-control-pan-down" href="#" title="Down"></a>
      </div>
    </div>
    <div class="leaflet-control-zoom leaflet-bar leaflet-control">
      <a id="zoomIn" class="leaflet-control-zoom-in" href="#" title="Zoom in">+</a>
      <a id="zoomOut" class="leaflet-control-zoom-out" href="#" title="Zoom out">-</a>
    </div>
  </div>
  <div class="leaflet-top leaflet-right has-leaflet-pan-control"></div>
  <div class="leaflet-bottom leaflet-left has-leaflet-pan-control"></div>
  <div class="leaflet-bottom leaflet-right has-leaflet-pan-control"></div>
</div>










  <div class="divbox">
                                                    


                                                    Force des noeuds:
                                                    <div id="sliderCharge"></div>          
                                                    Frictions des noeuds:
                                                    <div id="sliderFriction"></div>
                                                    Distance des liens:
                                                    <div id="sliderDistance"></div>
                                                    Contraste des Liens:
                                                    <div id="sliderLiens"></div>
                                                    Taille du texte:
                                                    <div id="sliderText"></div><br>
                                                    <input type="checkbox" id="checkboxLiensDetails">Liens détaillés<br>


                                                </div>