<div class="btn-group">
  <button type="button" data-placement="bottom" rel="popover" href="#" title="Popover on bottom" value="general" class="btn btn-default filter">General</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="Popover on bottom" value="cyclomatic" class="btn btn-default filter">Compl. cyclomatique</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="Popover on bottom" value="operators"class="btn btn-default filter">Nb Opérateur(s)</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="Popover on bottom" value="operands"class="btn btn-default filter">Nb Opérande(s)</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="Popover on bottom" value="functions"class="btn btn-default filter">Nb Fonction(s)</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="Popover on bottom" value="longueur"class="btn btn-default filter">Longueur</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="Popover on bottom" value="vocabulaire"class="btn btn-default filter">Vocabulaire</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="Popover on bottom" value="volume"class="btn btn-default filter">Volume</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="Popover on bottom" value="difficulte"class="btn btn-default filter">Difficulté</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="Popover on bottom" value="effort" class="btn btn-default filter">Efforts</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="Popover on bottom" value="bogues"class="btn btn-default filter">Bogues</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="Popover on bottom" value="temps"class="btn btn-default filter">Temps</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="Popover on bottom" value="maintenabilite" class="btn btn-default filter">Maintenabilité</button>
  <button type="button" data-placement="bottom" rel="popover" href="#" title="Popover on bottom" value="lint"class="btn btn-default filter">Erreur(s) Lint</button>

</div><br>
<div id="d3Placeholder"></div>
