<div class="btn-group">
  <button type="button" name="filter" value="general" class="btn btn-default">General</button>
  <button type="button" name="filter" value="cyclomatic" class="btn btn-default">Compl. cyclomatique</button>
  <button type="button" name="filter" value="operators"class="btn btn-default">Nb Opérateur(s)</button>
  <button type="button" name="filter" value="operands"class="btn btn-default">Nb Opérande(s)</button>
  <button type="button" name="filter" value="functions"class="btn btn-default">Nb Fonction(s)</button>
  <button type="button" name="filter" value="longueur"class="btn btn-default">Longueur</button>
  <button type="button" name="filter" value="vocabulaire"class="btn btn-default">Vocabulaire</button>
  <button type="button" name="filter" value="volume"class="btn btn-default">Volume</button>
  <button type="button" name="filter" value="difficulte"class="btn btn-default">Difficulté</button>
  <button type="button" name="filter" value="effort" class="btn btn-default">Efforts</button>
  <button type="button" name="filter" value="bogues"class="btn btn-default">Bogues</button>
  <button type="button" name="filter" value="temps"class="btn btn-default">Temps</button>
  <button type="button" name="filter" value="maintenabilite" class="btn btn-default">Maintenabilité</button>
  <button type="button" name="filter" value="lint"class="btn btn-default">Erreur(s) Lint</button>

</div><br>
<div id="d3Placeholder"></div>
