<br>
<table id="analyseTable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Dossier</th>
                <th>Groupe</th>               
                <th>Erreur(s)</th>
                <th>C. cyclo</th>
                <th>Paramètres</th>
                <th>Ligne(s)</th>
                <th>Densité cyclo.</th>
                <th>Longueur</th>
                <th>Vocabulaire</th>
                <th>Difficulté</th>
                <th>Volume</th>
                <th>Effort</th>
                <th>Bogue(s)</th>
                <th>Temps</th>
                <th>Fonction(s)</th>
                <th>Maintenabilité</th>
                <th>Moyenne paramètre</th>    
                <th>Opérateur(s)</th> 
                <th>Opérateur(s) Distinct</th> 
                <th>Opérande(s)</th> 
                <th>Opérandes Distinct</th>           
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Nom</th>
                <th>Dossier</th>
                <th>Groupe</th>               
                <th>Erreur(s)</th>
                <th>C. cyclo</th>
                <th>Paramètres</th>
                <th>Ligne(s)</th>
                <th>Densité cyclo.</th>
                <th>Longueur</th>
                <th>Vocabulaire</th>
                <th>Difficulté</th>
                <th>Volume</th>
                <th>Effort</th>
                <th>Bogue(s)</th>
                <th>Temps</th>
                <th>Fonction(s)</th>
                <th>Maintenabilité</th>
                <th>Moyenne paramètre</th>    
                <th>Opérateur(s)</th> 
                <th>Opérateur(s) Distinct</th> 
                <th>Opérande(s)</th> 
                <th>Opérandes Distinct</th>      
            </tr>
        </tfoot>
</table>