<br>
<table id="analyseTable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Dossier</th>
                <th>Groupe</th>               
                <th>Erreur(s)</th>
                <th>C. cyclo</th>
                <th>Effort</th>
                <th>Bogue(s)</th>
                <th>Maintenabilité</th>
                <th>Paramètre</th>              
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Nom</th>
                <th>Dossier</th>
                <th>Groupe</th>               
                <th>Erreur(s)</th>
                <th>C. cyclomatique</th>
                <th>Effort</th>
                <th>Bogue(s)</th>
                <th>Maintenabilité</th>
                <th>Paramètre</th> 
            </tr>
        </tfoot>
</table>